@using Students.Interfaces
@using System.Globalization
@model Students.Common.Models.Lecturer

@inject ISharedResourcesService sharedResourcesService
@{
    CultureInfo cultureInfo = CultureInfo.GetCultureInfo(Context.Session.GetString("Culture") ?? "en-US");
    ViewData["Title"] = "Create";
}

<h1> @sharedResourcesService.GetString("Create", cultureInfo) </h1>

<h4> @sharedResourcesService.GetString("Lecturer", cultureInfo) </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"> @sharedResourcesService.GetString("StudentName", cultureInfo) </label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="academicDegree"> @sharedResourcesService.GetString("AcademicDegreeChoose", cultureInfo) </label>
                 <select asp-for="AcademicDegree" class="form-select" aria-label="Choose academic degree">
                    <option value="Associate degree">Associate degree</option>
                    <option value="Bachelor’s degree">Bachelor’s degree</option>
                    <option value="Master’s degree">Master’s degree</option>
                    <option value="Doctoral degree">Doctoral degree</option>
                 </select>
            </div> 
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPromoter"/> @sharedResourcesService.GetString("Promoter", cultureInfo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="@sharedResourcesService.GetString("Create", cultureInfo)" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"> @sharedResourcesService.GetString("BackToList") </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
